<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />

    <script defer th:src="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    </script>

    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <th:block th:fragment="adminHeader">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="h3 navbar-brand text-warning font-weight-bold" th:href="@{/landing}">e-Services</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userProfile}">Profile<span class="sr-only">(current)</span></a>
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/signout}" method="post">
                    <label class="h3 navbar-brand text-warning">Welcome, Admin</label>
                    <button type="submit" class="btn btn-outline-warning my-2 my-sm-0 rounded-0">
                        Sign out
                    </button>
                </form>
            </div>
        </nav>
</body>
</th:block>

</html>