<!DOCTYPE html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{fragments/layout}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>

  <script src="js/jquery-3.5.1.js"></script>

  <!-- <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" /> -->

  <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />

  <!-- <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script> -->

  <!-- <script defer th:src="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
  </script> -->

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="css/login.css" />

  <!-- <script src="js/reuseNavbar.js"></script> -->
</head>

<body>
  <!-- <div layout:fragment="content" th:remove="tag"> -->
  <div th:replace="fragments/header :: header"></div>
  <div id="navbar-user-frame"></div>

  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-5">Omniverse</h1>
      <p class="lead">It started when an alien device did what it did
        It stuck itself upon his wrist with secrets that it hid
        Now he's got superpowers he's no ordinary kid
        He's Ben 10
      </p>
      <hr class="my-4">
      <p>For more information, contact us at - <strong>test@serviceprovider.com</strong> & <strong>987654321</strong></p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row serviceModule">
      <div class="col-4 bg-dark d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#orderNow">
          Order Now
        </button>
      </div>
      <div class="col-4 bg-warning  d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#feedback">
          Feedback
        </button>
      </div>

  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="orderNow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ordering the service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Timing</label>
              <input type="time" class="form-control" id="appt" name="appt">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Note</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            
            <label for="exampleFeedback">Rate us</label>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1">1 star</label>
            </div>
          </div>
          
          <div class="form-group">
            <label for="exampleFeedback">How did you like the service ?</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
     
    </div>
  </div>
</div>

</body>

</html>